# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.buildlog/
.history
.svn/
migrate_working_dir/

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/

# VS Code related
.vscode/

# Flutter/Dart/Pub related
**/doc/api/
**/ios/Flutter/.last_build_id
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
/build/
pubspec.lock

# Generated code
**/*.g.dart
**/*.freezed.dart
**/*.gr.dart
**/*.config.dart
**/*.gen.dart

# Firebase
**/firebase_options_*.dart

# Platform
/android/
/ios/
/web/
/macos/
/linux/
/windows/
